{% extends "base.html" %}

{% block content %}
<h1>Ticket List</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">User</th>
            <th scope="col">Category</th>
            <th scope="col">Department</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        {% for ticket in tickets %}
        <tr>
            <td>{{ ticket.title }}</td>
            <td>{{ ticket.description }}</td>
            <td>{{ ticket.user.username }}</td>
            <td>{{ ticket.category.name }}</td>
            <td>{{ ticket.department.name }}</td>
            <td>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

</table>
{% endblock  %}